h2:hover {
  cursor: pointer;
}

/* KeyGrid */
.app-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin: 0px 20px 5px 20px;
}

nav {
  border-bottom: solid;
}

.key-sequence-container {
  text-align: center;
  margin-top: 20px;
}

.key-sequence-table {
  border-collapse: collapse;
  margin: 20px auto;
}

.key-cell {
  width: 30px;
  height: 30px;
  border: 2px solid black;
  text-align: center;
  vertical-align: middle;
  font-size: 25px;
  padding: 10px;
}

.key-yellow {
  background: #ffc600;
}

.key-gray {
  background: gray;
}

.key-green  {
  background: green;
}

/* keyboard */
.key-default {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 2px solid black;
  border-radius: 5px;
  color: white;
  background: rgb(0, 0, 0, 0.7);
  margin-right: 2px;
  font-size: 12px;
}

.keyboard-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1px;
}

.key-in-correct-spot {
  transform: scale(1.1);
  border-color: green;
  box-shadow: 0 0 10px green;
}

.key-in-word {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 10px #ffc600;
}

.key-not-in-word {
  transform: scale(1.1);
  border-color: gray;
  box-shadow: 0 0 10px gray;
}

/* info */

ul {
  list-style-type: none;
}
