h2:hover {
  cursor: pointer;
}

/* KeyGrid */
.app-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin: 0px 20px 5px 20px;
}

nav {
  border-bottom: solid;
}
a {
  color: black;
  text-decoration: none;
}

.container {
  text-align: center;
  margin-top: 20px;
}

.keys-table {
  border-collapse: collapse;
  margin: 20px auto;
}

.key-cell {
  width: 30px;
  height: 30px;
  border: 2px solid black;
  text-align: center;
  vertical-align: middle;
  font-size: 25px;
  padding: 10px;
}

/* keyboard */
.key-default {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 2px solid black;
  border-radius: 5px;
  color: white;
  background: rgb(0, 0, 0, 0.7);
  margin-right: 2px;
  font-size: 12px;
}

.keyboard-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1px;
}

/* info */

ul {
  list-style-type: none;
}
