/* KeyGrid */
.centeringContainer {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.key-sequence-container {
  text-align: center;
  margin-top: 20px;
}

.key-sequence-table {
  border-collapse: collapse;
  margin: 20px auto;
}

.key-cell {
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
}

/* keyboard */
.key-default {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 3px solid black;
  border-radius: 5px;
  color: white;
  background: rgb(0, 0, 0, 0.7);
  margin-right: 5px;
  font-size: 15px;
}

.keyboard-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px;
}

.key-in-word {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 10px #ffc600;
}

.key-not-in-word {
  transform: scale(1.1);
  border-color: gray;
  box-shadow: 0 0 10px gray;
}